@font-face {
  font-family: "Cocogoose";
  src: url("../fonts/Cocogoose/Cocogoose_UltraLight.eot");
  src: url("../fonts/Cocogoose/Cocogoose_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Cocogoose/Cocogoose_UltraLight.woff2") format("woff2"), url("../fonts/Cocogoose/Cocogoose_UltraLight.woff") format("woff"), url("../fonts/Cocogoose/Cocogoose_UltraLight.ttf") format("truetype"), url("../fonts/Cocogoose/Cocogoose_UltraLight.otf") format("opentype"), url("../fonts/Cocogoose/Cocogoose_UltraLight.svg#COCOGOOSE  UltraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: "Cocogoose";
  src: url("../fonts/Cocogoose/Cocogoose_Light.eot");
  src: url("../fonts/Cocogoose/Cocogoose_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Cocogoose/Cocogoose_Light.woff2") format("woff2"), url("../fonts/Cocogoose/Cocogoose_Light.woff") format("woff"), url("../fonts/Cocogoose/Cocogoose_Light.ttf") format("truetype"), url("../fonts/Cocogoose/Cocogoose_Light.otf") format("opentype"), url("../fonts/Cocogoose/Cocogoose_Light.svg#Cocogoose Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family: "Cocogoose";
  src: url("../fonts/Cocogoose/Cocogoose.eot");
  src: url("../fonts/Cocogoose/Cocogoose.eot?#iefix") format("embedded-opentype"), url("../fonts/Cocogoose/Cocogoose.woff2") format("woff2"), url("../fonts/Cocogoose/Cocogoose.woff") format("woff"), url("../fonts/Cocogoose/Cocogoose.ttf") format("truetype"), url("../fonts/Cocogoose/Cocogoose.otf") format("opentype"), url("../fonts/Cocogoose/Cocogoose.svg#Cocogoose") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC;
}
@font-face {
  font-family: "Cocogoose";
  src: url("../fonts/Cocogoose/Cocogoose_DemiBold.eot");
  src: url("../fonts/Cocogoose/Cocogoose_DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Cocogoose/Cocogoose_DemiBold.woff2") format("woff2"), url("../fonts/Cocogoose/Cocogoose_DemiBold.woff") format("woff"), url("../fonts/Cocogoose/Cocogoose_DemiBold.ttf") format("truetype"), url("../fonts/Cocogoose/Cocogoose_DemiBold.otf") format("opentype"), url("../fonts/Cocogoose/Cocogoose_DemiBold.svg#COCOGOOSE DemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 1050px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1050px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1049.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1050px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1050px) and (max-width: 1049.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1050px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 1rem 0;
}
.breadcrumb > li {
  font-size: 1.1rem;
  line-height: 1.5rem;
  display: inline-block;
}
.breadcrumb > li:after {
  content: "/";
  padding: 0 5px;
  color: #951f60;
}
.breadcrumb > li:last-child:after {
  display: none;
}
.breadcrumb > li > a {
  color: #951f60;
  text-decoration: none;
}
.breadcrumb > li > a:hover {
  text-decoration: underline;
}

.btn {
  color: #fff;
  outline: none;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  user-select: none;
  text-align: center;
  position: relative;
  white-space: nowrap;
  padding: 1.1rem 1.5rem 0.9rem 1.5rem;
  background: #951f60;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  font-family: "Cocogoose", Arial, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  color: #fff;
  background: #d81781;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.btn_sm {
  padding: 0.3rem 1rem;
}

.btn_gray {
  background: #808080;
}
.btn_gray:hover {
  color: #fff;
  background: #5a5a5a;
}

.btn_back {
  padding-left: 4.2rem;
}
.btn_back:before {
  top: 50%;
  left: 10px;
  width: 24px;
  height: 15px;
  content: "";
  margin-top: -8px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon_back.svg") 0 0 no-repeat;
  background-size: cover;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.5rem;
  line-height: 1.33333;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 576px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 1050px) {
  .container {
    width: 1030px;
  }
}
@media (min-width: 1050px) {
  .container {
    width: 1030px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.2;
}

h1, .h1 {
  color: #951f60;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: 1.5rem;
  font-family: "Cocogoose", Arial, sans-serif;
}

h2, .h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Cocogoose", Arial, sans-serif;
}

h3, .h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-family: "Cocogoose", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Cocogoose", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: "Cocogoose", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  font-family: "Cocogoose", Arial, sans-serif;
}

p {
  margin: 0 0 1.5rem 0;
}

a {
  outline: none;
  color: #951f60;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #951f60;
  text-decoration: none;
}

.header {
  height: 50px;
  padding: 1rem;
  margin: 0 auto;
  z-index: 1010;
  position: relative;
  background: #fff;
  border-top: 4px solid #951f60;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header .header_elem {
  font-size: 0;
  line-height: 0;
}
.header .header_elem a {
  padding: 1px 3px;
  font-size: 0;
  line-height: 0;
  margin-left: 8px;
  display: inline-block;
}
.header .header_elem a i {
  height: 22px;
  display: inline-block;
}
.header .header_elem a .ico-svg {
  fill: #951f60;
}
.header .header_toggle {
  width: 36px;
  font-size: 0;
  padding: 2px;
  line-height: 0;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.header .header_toggle span {
  width: 100%;
  height: 4px;
  margin-bottom: 4px;
  background: #951f60;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.header .header_toggle span:last-child {
  margin-bottom: 0;
}
.header .header_logo {
  width: 110px;
  display: block;
}
@media (min-width: 768px) {
  .header {
    width: 720px;
  }
}
@media (min-width: 1050px) {
  .header {
    width: 1030px;
    height: auto;
    padding: 2rem 1rem;
    border-top-color: transparent;
  }
  .header:before {
    top: -4px;
    left: 1rem;
    right: 1rem;
    height: 4px;
    content: "";
    display: block;
    position: absolute;
    background: #951f60;
  }
  .header .header_logo {
    width: 171px;
    padding: 0.7rem 0;
  }
  .header .header_toggle {
    display: none;
  }
  .header .header_elem.header_left a {
    margin-left: 0;
    margin-right: 1rem;
  }
  .header .header_elem.header_right a {
    margin-left: 1rem;
  }
  .header .header_elem a {
    width: 55px;
    height: 55px;
    color: #808080;
    text-align: center;
    background: #f2f2f2;
    display: inline-block;
    padding: 8px 5px 8px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .header .header_elem a i {
    width: 32px;
    height: 25px;
    display: inline-block;
  }
  .header .header_elem a .ico-svg {
    fill: #808080;
  }
  .header .header_elem a span {
    width: 100%;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1rem;
    text-align: center;
    padding-top: 0.5rem;
    display: inline-block;
    text-transform: uppercase;
  }
  .header .header_elem a:hover {
    color: #fff;
    background: #951f60;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .header .header_elem a:hover .ico-svg {
    fill: #fff;
  }
  .header .header_elem a.invert {
    color: #fff;
    background: #951f60;
  }
  .header .header_elem a.invert .ico-svg {
    fill: #fff;
  }
  .header .header_elem a.invert:hover {
    color: #808080;
    background: #f2f2f2;
  }
  .header .header_elem a.invert:hover .ico-svg {
    fill: #808080;
  }
}

.topnav {
  height: 0;
  z-index: 1000;
  margin: 0 auto;
  overflow: hidden;
  background: #951f60;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.topnav ul {
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 0;
  line-height: 0;
  list-style: none;
}
.topnav ul li {
  padding: 2px 0;
}
.topnav ul li a {
  width: 100%;
  color: #000;
  font-weight: 700;
  background: #fff;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  padding: 0.8rem 1rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Cocogoose", Arial, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .topnav ul {
    width: 720px;
  }
}
@media (min-width: 1050px) {
  .topnav {
    height: auto;
    padding: 0 1rem;
    margin: 0 auto;
    background: #fff;
    width: 1030px;
  }
  .topnav ul {
    margin: 0 -1rem;
    padding: 0;
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .topnav ul li {
    width: 100%;
    padding: 0 1rem;
    text-align: center;
  }
  .topnav ul li a {
    width: 100%;
    display: table;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    border-bottom: 4px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  .topnav ul li a span {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
  }
  .topnav ul li a:hover {
    color: #951f60;
    border-bottom-color: #951f60;
  }
  .topnav ul li.active a {
    color: #951f60;
    border-bottom-color: #951f60;
  }
}

.page {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.page.nav_open .topnav {
  height: auto;
  padding: 1.8rem 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 1050px) {
  .page.nav_open .topnav {
    height: auto;
    padding: 0 1rem;
  }
}

.main {
  margin: 0 auto;
  padding: 2rem 1rem 3rem 1rem;
}
.main .content {
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .main {
    width: 720px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .main .content {
    min-height: 1px;
    margin-bottom: 0;
    padding-right: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .main .sidebar {
    width: 240px;
    min-height: 1px;
    min-width: 240px;
  }
}
@media (min-width: 1050px) {
  .main {
    width: 1030px;
  }
  .main .sidebar {
    width: 330px;
    min-width: 330px;
  }
}

.author {
  font-size: 1.4rem;
  line-height: 1.8rem;
  min-height: 50px;
  padding-left: 60px;
  position: relative;
  margin-bottom: 1rem;
}
.author .author_avatar {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.author .author_name {
  text-decoration: none;
}
.author .author_name:hover {
  text-decoration: underline;
}
.author .author_date {
  color: #3c3c3c;
}
.sidebar_title {
  color: #fff;
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  background: #951f60;
  font-family: "Cocogoose", Arial, sans-serif;
}

.box {
  margin-bottom: 2rem;
  padding-bottom: 3rem;
  border-bottom: 4px solid #951f60;
}
@media (min-width: 768px) {
  .box {
    background: #f8f6f6;
    padding: 2rem 2.5rem 3rem 2.5rem;
  }
}

.content_image {
  margin-bottom: 1.5rem;
}
.content_image.img_portrait {
  max-width: 450px;
  margin: 0 auto 1.5rem auto;
}

.image_group {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 1.5rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.image_group li {
  width: 20%;
}

.btn_group {
  padding: 0;
  margin: 0 -1rem;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.btn_group.btn_center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.btn_group li {
  padding: 0 1rem;
}

.news {
  padding: 0;
  list-style: none;
  margin: 0 0 2rem 0;
}
.news > li {
  padding-top: 1.5rem;
  padding-bottom: 0.8rem;
  border-bottom: 4px solid #951f60;
}
.news h4 {
  font-weight: 400;
  font-size: 1.5rem;
  min-height: 3.6rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}
.news h4 a {
  text-decoration: none;
  font-family: "Roboto", Arial, sans-serif;
}
.news h4 a:hover {
  text-decoration: underline;
}
.news .news_tags {
  color: #606060;
  font-size: 1.2rem;
  line-height: 1.6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.news .news_tags span {
  display: inline-block;
}
@media (min-width: 1050px) {
  .news {
    padding-left: 2rem;
  }
}

.side_bnr {
  color: #000;
  height: 330px;
  max-width: 330px;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3rem;
  text-align: center;
  padding: 1rem 2.5rem;
  text-shadow: 1px 1px 2px white;
  background: url("../images/bng_two.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.side_bnr p {
  margin-bottom: 0;
}

.bnr {
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  min-height: 120px;
  text-align: center;
  line-height: 2.5rem;
  padding: 2.4rem 3rem;
  margin-bottom: 3rem;
  background: url("../images/bnr.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.comments {
  margin-bottom: 3rem;
}

.post {
  padding-top: 3rem;
  border-bottom: 4px solid #951f60;
}
.post .post_user {
  min-height: 50px;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
  padding-left: 6rem;
  margin-bottom: 1rem;
}
.post .post_user .post_user_image {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.post .post_user .post_user_name {
  color: #951f60;
  text-decoration: none;
}
.post .post_user .post_user_name:hover {
  text-decoration: underline;
}
.post .post_user .post_user_date {
  display: block;
}
.post .post_text {
  color: #000;
  font-size: 1.5rem;
  background: #f8f6f6;
  line-height: 2.5rem;
  padding: 2rem 2.5rem 3rem 2.5rem;
}
.post .post_text p {
  margin-bottom: 1.5rem;
}
.post .post_text p a {
  color: #951f60;
  text-decoration: none;
}
.post .post_text p a:hover {
  text-decoration: underline;
}
.post .post_like {
  color: #505050;
  font-size: 1.4rem;
  line-height: 1.6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.post .post_like i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #951f60;
}
.post .post_like span {
  padding: 0.2rem 0;
  display: inline-block;
}

.bnr_bottom {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  min-height: 120px;
  text-align: center;
  padding: 3rem 2rem;
  line-height: 2.8rem;
  margin-bottom: 3rem;
  background: url("../img/bnr_03.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.bnr_bottom p {
  margin-bottom: 0;
  text-transform: uppercase;
}

.gray_box {
  text-align: center;
  background: #f8f6f6;
  padding: 3rem 1.5rem;
}
.gray_box p {
  color: #3e3e3e;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 2rem;
}

.footer {
  color: #fff;
  padding-top: 4rem;
  padding-bottom: 2rem;
  background: #951f60;
}
.footer .footer_logo {
  width: 128px;
  display: block;
  margin: 0 auto 2rem auto;
}
.footer .footer_social {
  font-size: 0;
  line-height: 0;
  max-width: 450px;
  padding: 2.4rem 0;
  position: relative;
  text-align: center;
  margin: 0 auto 3.5rem auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}
.footer .footer_social:after, .footer .footer_social:before {
  left: 0;
  right: 0;
  height: 2px;
  z-index: 10;
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
}
.footer .footer_social:after {
  top: 0;
}
.footer .footer_social:before {
  bottom: 0;
}
.footer .footer_social > li {
  padding: 0 0.5rem;
}
.footer .footer_social a {
  color: #fff;
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer .footer_social a:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer .footer_social i {
  font-size: 3.2rem;
  line-height: 3.2rem;
  margin-bottom: 0.8rem;
}
.footer .footer_social span {
  display: block;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
}
.footer .footer_text {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
}
@media (min-width: 1050px) {
  .footer {
    padding-left: 6rem;
  }
}

/*# sourceMappingURL=main.css.map */
