.header {
	height: 50px;
	padding: 1rem;
	margin: 0 auto;
	z-index: 1010;
	position: relative;
	background: #fff;
	border-top: 4px solid $color-red;
	@include flexbox();
	@include justify-content(space-between);

	.header_elem {
		font-size: 0;
		line-height: 0;

		a {
			padding: 1px 3px;
			font-size: 0;
			line-height: 0;
			margin-left: 8px;
			display: inline-block;

			i {
				height: 22px;
				display: inline-block;
			}

			.ico-svg {
				fill: $color-red;
			}
		}
	}

	.header_toggle {
		width: 36px;
		font-size: 0;
		padding: 2px ;
		line-height: 0;
		cursor: pointer;
		display: inline-block;
		text-decoration: none;

		span {
			width: 100%;
			height: 4px;
			margin-bottom: 4px;
			background: $color-red;
			display: inline-block;
			@include border-radius(2px);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.header_logo {
		width: 110px;
		display: block;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
		height: auto;
		padding: 2rem 1rem;
		border-top-color: transparent;

		&:before {
			top: -4px;
			left: 1rem;
			right: 1rem;
			height: 4px;
			content: '';
			display: block;
			position: absolute;
			background: $color-red;
		}

		.header_logo {
			width: 171px;
			padding: 0.7rem 0;
		}

		.header_toggle {
			display: none;
		}

		.header_elem {

			&.header_left {

				a {
					margin-left: 0;
					margin-right: 1rem;
				}
			}

			&.header_right {

				a {
					margin-left: 1rem;
				}
			}

			a {
				width: 55px;
				height: 55px;
				color: #808080;
				text-align: center;
				background: #f2f2f2;
				display: inline-block;
				padding: 8px 5px 8px 5px;
				@include border-radius(3px);
				@include transition(.2s);

				i {
					width: 32px;
					height: 25px;
					display: inline-block;
				}

				.ico-svg {
					fill: #808080;
				}

				span {
					width: 100%;
					font-weight: 700;
					font-size: 0.9rem;
					line-height: 1rem;
					text-align: center;
					padding-top: 0.5rem;
					display: inline-block;
					text-transform: uppercase;
				}

				&:hover {
					color: #fff;
					background: $color-red;
					@include transition(.2s);

					.ico-svg {
						fill: #fff;
					}
				}

				&.invert {
					color: #fff;
					background: $color-red;

					.ico-svg {
						fill: #fff;
					}

					&:hover {
						color: #808080;
						background: #f2f2f2;

						.ico-svg {
							fill: #808080;
						}
					}
				}
			}
		}
	}
}

.topnav {
	height: 0;
	z-index: 1000;
	margin: 0 auto;
	overflow: hidden;
	background: $color-red;
	@include transition(.4s);

	ul {
		margin: 0 auto;
		padding: 0 1rem;
		font-size: 0;
		line-height: 0;
		list-style: none;

		li {
			padding: 2px 0;

			a {
				width: 100%;
				color: #000;
				font-weight: 700;
				background: #fff;
				font-size: 1.4rem;
				line-height: 2rem;
				text-align: center;
				padding: 0.8rem 1rem;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				font-family: $font-family-head;
				@include border-radius(4px);
			}
		}
	}

	@media (min-width: $screen-md-min) {

		ul {

			width: $container-md;
		}

	}

	@media (min-width: $screen-lg-min) {
		height: auto;
		padding: 0 1rem;
		margin: 0 auto;
		background: #fff;
		width: $container-lg;

		ul {
			margin: 0 -1rem;
			padding: 0;
			width: auto;
			@include flexbox();
			@include justify-content(space-between);

			li {
				width: 100%;
				padding: 0 1rem;
				text-align: center;

				a {
					width: 100%;
					display: table;
					padding: 0 0.5rem;
					font-size: 1.1rem;
					line-height: 1.5rem;
					border-bottom: 4px solid transparent;
					@include border-radius(0);

					span {
						height: 30px;
						display: table-cell;
						vertical-align: middle;
					}

					&:hover {
						color: $color-red;
						border-bottom-color: $color-red;
					}
				}

				&.active {

					a {
						color: $color-red;
						border-bottom-color: $color-red;
					}
				}
			}
		}
	}
}

.page {
	width: 100%;
	max-width: 100%;
	overflow: hidden;

	&.nav_open {

		.topnav {
			height: auto;
			padding: 1.8rem 0;
			@include transition(.4s);
		}
	}

	@media (min-width: $screen-lg-min) {

		&.nav_open {

			.topnav {
				height: auto;
				padding: 0 1rem;
			}
		}
	}
}

.main {
	margin: 0 auto;
	padding: 2rem 1rem 3rem 1rem;

	.content {
		margin-bottom: 3rem;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
		@include flexbox();

		.content {
			min-height: 1px;
			margin-bottom: 0;
			padding-right: 1rem;
			@include flex-grow(1);
		}

		.sidebar {
			width: 240px;
			min-height: 1px;
			min-width: 240px;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;

		.sidebar {
			width: 330px;
			min-width: 330px;
		}
	}
}


.author {
	font-size: 1.4rem;
	line-height: 1.8rem;
	min-height: 50px;
	padding-left: 60px;
	position: relative;
	margin-bottom: 1rem;

	.author_avatar {
		top: 0;
		left: 0;
		width: 50px;
		height: 50px;
		overflow: hidden;
		position: absolute;
		@include border-radius(50%);
	}

	.author_name {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.author_date {
		color: #3c3c3c;
	}

	.author_answer {

	}
}

.sidebar_title {
	color: #fff;
	padding: 1rem;
	font-size: 1.4rem;
	line-height: 2rem;
	text-align: center;
	background: $color-red;
	font-family: $font-family-head;
}

.box {
	margin-bottom: 2rem;
	padding-bottom: 3rem;
	border-bottom: 4px solid $color-red;

	@media (min-width: $screen-md-min) {
		background: #f8f6f6;
		padding: 2rem 2.5rem 3rem 2.5rem;
	}
}

.content_image {
	margin-bottom: 1.5rem;

	&.img_portrait {
		max-width: 450px;
		margin: 0 auto 1.5rem auto;
	}
}

.image_group {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 1.5rem 0;
	@include flexbox();

	li {
		width: 20%;
	}
}

.btn_group {
	padding: 0;
	margin: 0 -1rem;
	list-style: none;
	@include flexbox();
	@include justify-content(space-between);

	&.btn_center {
		@include justify-content(center);
	}

	li {
		padding: 0 1rem;
	}
}

.news {
	padding: 0;
	list-style: none;
	margin: 0 0 2rem 0;

	> li {
		padding-top: 1.5rem;
		padding-bottom: 0.8rem;
		border-bottom: 4px solid $color-red;
	}

	h4 {
		font-weight: 400;
		font-size: 1.5rem;
		min-height: 3.6rem;
		line-height: 1.8rem;
		margin-bottom: 0.5rem;

		a {
			text-decoration: none;
			font-family: $font-family-base;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.news_tags {
		color: #606060;
		font-size: 1.2rem;
		line-height: 1.6rem;
		@include flexbox();
		@include justify-content(space-between);

		span {
			display: inline-block;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-left: 2rem;
	}
}

.side_bnr {
	color: #000;
	height: 330px;
	max-width: 330px;
	font-weight: 700;
	font-size: 2.8rem;
	line-height: 3rem;
	text-align: center;
	padding: 1rem 2.5rem;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
	background: url("../images/bng_two.jpg") 50% 50% no-repeat;
	background-size: cover;

	p {
		margin-bottom: 0;
	}
}

.bnr {
	color: #fff;
	font-weight: 700;
	font-size: 1.8rem;
	min-height: 120px;
	text-align: center;
	line-height: 2.5rem;
	padding: 2.4rem 3rem;
	margin-bottom: 3rem;
	background: url("../images/bnr.jpg") 50% 50% no-repeat;
	background-size: cover;
}

.comments {
	margin-bottom: 3rem;
}


.post {
	padding-top: 3rem;
	border-bottom: 4px solid $color-red;

	.post_user {
		min-height: 50px;
		font-size: 1.4rem;
		line-height: 2rem;
		position: relative;
		padding-left: 6rem;
		margin-bottom: 1rem;

		.post_user_image {
			top: 0;
			left: 0;
			width: 50px;
			height: 50px;
			overflow: hidden;
			position: absolute;
			@include border-radius(50%);
		}

		.post_user_name {
			color: $color-red;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.post_user_date {
			display: block;
		}
	}

	.post_text {
		color: #000;
		font-size: 1.5rem;
		background: #f8f6f6;
		line-height: 2.5rem;
		padding: 2rem 2.5rem 3rem 2.5rem;

		p {
			margin-bottom: 1.5rem;

			a {
				color: $color-red;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.post_like {
		color: #505050;
		font-size: 1.4rem;
		line-height: 1.6rem;
		@include flexbox();

		i {
			font-size: 2rem;
			margin-right: 1rem;
			color: $color-red;
		}

		span {
			padding: 0.2rem 0;
			display: inline-block;
		}
	}
}

.bnr_bottom {
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
	min-height: 120px;
	text-align: center;
	padding: 3rem 2rem;
	line-height: 2.8rem;
	margin-bottom: 3rem;
	background: url("../img/bnr_03.jpg") 50% 50% no-repeat;
	background-size: cover;

	p {
		margin-bottom: 0;
		text-transform: uppercase;
	}
}

.gray_box {
	text-align: center;
	background: #f8f6f6;
	padding: 3rem 1.5rem;

	p {
		color: #3e3e3e;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.2rem;
		margin-bottom: 2rem;
	}
}

.footer {
	color: #fff;
	padding-top: 4rem;
	padding-bottom: 2rem;
	background: $color-red;

	.footer_logo {
		width: 128px;
		display: block;
		margin: 0 auto 2rem auto;
	}

	.footer_social {
		font-size: 0;
		line-height: 0;
		max-width: 450px;
		padding: 2.4rem 0;
		position: relative;
		text-align: center;
		margin: 0 auto 3.5rem auto;
		@include flexbox();
		@include justify-content(space-around);

		&:after,
		&:before {
			left: 0;
			right: 0;
			height: 2px;
			z-index: 10;
			content: '';
			display: block;
			position: absolute;
			background: rgba(255,255,255,0.4);
		}

		&:after {
			top: 0;
		}

		&:before {
			bottom: 0;
		}

		> li {
			padding: 0 0.5rem;
		}

		a {
			color: #fff;
			display: block;
			text-decoration: none;
			@include transition(.3s);

			&:hover {
				opacity: 0.7;
				@include transition(.3s);
			}
		}

		i {
			font-size: 3.2rem;
			line-height: 3.2rem;
			margin-bottom: 0.8rem;
		}

		span {
			display: block;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2rem;
		}
	}

	.footer_text {
		font-size: 1.2rem;
		line-height: 1.6rem;
		text-align: center;
	}

	@media (min-width: $screen-lg-min) {
		padding-left: 6rem;
	}
}