
@font-face {
	font-family:'Cocogoose';
	src: url('../fonts/Cocogoose/Cocogoose_UltraLight.eot');
	src: url('../fonts/Cocogoose/Cocogoose_UltraLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cocogoose/Cocogoose_UltraLight.woff2') format('woff2'),
	url('../fonts/Cocogoose/Cocogoose_UltraLight.woff') format('woff'),
	url('../fonts/Cocogoose/Cocogoose_UltraLight.ttf') format('truetype'),
	url('../fonts/Cocogoose/Cocogoose_UltraLight.otf') format('opentype'),
	url('../fonts/Cocogoose/Cocogoose_UltraLight.svg#COCOGOOSE  UltraLight') format('svg');
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2074;
}

@font-face {
	font-family:'Cocogoose';
	src: url('../fonts/Cocogoose/Cocogoose_Light.eot');
	src: url('../fonts/Cocogoose/Cocogoose_Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cocogoose/Cocogoose_Light.woff2') format('woff2'),
	url('../fonts/Cocogoose/Cocogoose_Light.woff') format('woff'),
	url('../fonts/Cocogoose/Cocogoose_Light.ttf') format('truetype'),
	url('../fonts/Cocogoose/Cocogoose_Light.otf') format('opentype'),
	url('../fonts/Cocogoose/Cocogoose_Light.svg#Cocogoose Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2074;
}

@font-face {
	font-family:'Cocogoose';
	src: url('../fonts/Cocogoose/Cocogoose.eot');
	src: url('../fonts/Cocogoose/Cocogoose.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cocogoose/Cocogoose.woff2') format('woff2'),
	url('../fonts/Cocogoose/Cocogoose.woff') format('woff'),
	url('../fonts/Cocogoose/Cocogoose.ttf') format('truetype'),
	url('../fonts/Cocogoose/Cocogoose.otf') format('opentype'),
	url('../fonts/Cocogoose/Cocogoose.svg#Cocogoose') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-02DC;
}

@font-face {
	font-family:'Cocogoose';
	src: url('../fonts/Cocogoose/Cocogoose_DemiBold.eot');
	src: url('../fonts/Cocogoose/Cocogoose_DemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cocogoose/Cocogoose_DemiBold.woff2') format('woff2'),
	url('../fonts/Cocogoose/Cocogoose_DemiBold.woff') format('woff'),
	url('../fonts/Cocogoose/Cocogoose_DemiBold.ttf') format('truetype'),
	url('../fonts/Cocogoose/Cocogoose_DemiBold.otf') format('opentype'),
	url('../fonts/Cocogoose/Cocogoose_DemiBold.svg#COCOGOOSE DemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2074;
}