
.breadcrumb {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 1rem 0;

	> li {
		font-size: 1.1rem;
		line-height: 1.5rem;
		display: inline-block;


		&:after {
			content: '/';
			padding: 0 5px;
			color: $color-red;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		> a {
			color: $color-red;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}