
.btn {
	color: #fff;
	outline: none;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	user-select: none;
	text-align: center;
	position: relative;
	white-space: nowrap;
	padding: 1.1rem 1.5rem 0.9rem 1.5rem;
	background: $color-red;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	font-family: $font-family-head;

	@include border-radius(3px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #d81781;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_sm {
	padding: 0.3rem 1rem;
}

.btn_gray {
	background: #808080;

	&:hover {
		color: #fff;
		background: #5a5a5a;
	}
}

.btn_back {
	padding-left: 4.2rem;

	&:before {
		top: 50%;
		left: 10px;
		width: 24px;
		height: 15px;
		content: '';
		margin-top: -8px;
		position: absolute;
		display: inline-block;
		background: url("../img/icon_back.svg") 0 0 no-repeat;
		background-size: cover;
	}
}